name: Ansible Deploy

on:
  workflow_dispatch:

concurrency: prod-deploy

jobs:
  ansible:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@e8303e5fa5b52015d59fd5bc8c968943bd5f349c # v6
        with:
          playbook: ansible/main.yml
          key: ${{secrets.SSH_PRIVATE_KEY}}
          vault_password: ${{secrets.VAULT_PASSWORD}}
          requirements: ansible/requirements.yml
          options: |
            --inventory ansible/hosts
