on:
  workflow_call:

defaults:
  run:
    working-directory: ./backend

jobs:
  ci:
    name: "Lint, test, build"
    runs-on: ubuntu-latest
    if: ${{ github.event.action != 'labeled' }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6\
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            src:
              - ".github/**"
              - "backend/**"
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        if: steps.filter.outputs.src == 'true'
        with:
          cache: maven
          distribution: temurin
          java-version: 21

      - name: Build with Maven
        if: steps.filter.outputs.src == 'true'
        run: mvn -B package --file pom.xml

      # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
      - name: Update dependency graph
        if: steps.filter.outputs.src == 'true' && github.ref == 'refs/heads/main'
        continue-on-error: true
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5
        with:
          directory: backend
