on:
  workflow_call:

concurrency: dev-deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment:
      name: development
      url: https://dev.reims2.app
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Get Github short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: deploy via ssh
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        with:
          host: reims2.app
          username: actions
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: ${{ steps.vars.outputs.sha_short }}
