name: E2E test

on:
  workflow_call:
  schedule:
    - cron: "7 15 * * 6"

concurrency: e2e-test

jobs:
  e2e-deploy:
    name: "Deploy E2E instance"
    uses: reims2/reims2/.github/workflows/deploy-instance.yml@main
    secrets: inherit # pass all secrets
    with:
      instance_name: e2e

  e2e:
    runs-on: ubuntu-latest
    needs: e2e-deploy
    defaults:
      run:
        working-directory: ./e2e
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: "e2e/.nvmrc"
          cache: "yarn"
          cache-dependency-path: "e2e/yarn.lock"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Install Playwright Browsers (chromium only)
        if: github.event_name != 'schedule' && github.event_name != 'workflow_dispatch'
        run: yarn playwright install --with-deps chromium
      - name: Install Playwright Browsers (all)
        if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        run: yarn playwright install --with-deps
      - name: Run fast test suite
        if: github.event_name != 'schedule' && github.event_name != 'workflow_dispatch'
        run: yarn playwright test --project chromium --grep @fast
        env:
          BASE_URL: "https://e2e.reims2.app"
      - name: Run all tests
        if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        run: yarn playwright test
        env:
          BASE_URL: "https://e2e.reims2.app"
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        if: always()
        with:
          name: playwright-report
          path: |
            e2e/playwright-report/
            e2e/test-results/
          retention-days: 14
      - name: Stop E2E instance
        if: always()
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        with:
          host: reims2.app
          username: actions
          key: ${{ secrets.RM_DEPLOY_KEY }}
          port: 22
          script: reims2-e2e
