on:
  workflow_call:

concurrency: prod-deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment:
      name: production
      url: https://reims2.app
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Get Github short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: deploy via ssh
        uses: appleboy/ssh-action@91f3272fc5907f4699dcf59761eb622a07342f5a # v1.2.3
        with:
          host: reims2.app
          username: actions
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: ${{ steps.vars.outputs.sha_short }}
