on:
  workflow_call:

concurrency: prod-deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment:
      name: production
      url: https://reims2.app
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Get Github short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: deploy via ssh
        uses: appleboy/ssh-action@823bd89e131d8d508129f9443cad5855e9ba96f0 # v1.2.4
        with:
          host: reims2.app
          username: actions
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: ${{ steps.vars.outputs.sha_short }}
