on:
  workflow_call:

concurrency: prod-deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment:
      name: production
      url: https://reims2.app
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Get Github short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: deploy via ssh
        uses: appleboy/ssh-action@0ff4204d59e8e51228ff73bce53f80d53301dee2 # v1.2.5
        with:
          host: reims2.app
          username: actions
          key: ${{ secrets.DEPLOY_KEY }}
          port: 22
          script: ${{ steps.vars.outputs.sha_short }}
